<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog create</title>
</head>
<body>
    <h1>Blog create</h1>
    <h2>Write Post Page</h2>
    <form action="/blog/create/" method="POST" id="create">
        {% csrf_token %}
        Title: <input type="text" name="title"/>
        <input type="submit" />
    </form>
    <textarea name="content" form="create"> Enter Content</textarea>
</body>
</html>